<div class="main-container">

<div class='left-container'>
	<div class="nav">
		<ul>
		<% if current_user %>
			<li id="leaderboard_link">Leaderboard</li>
			<li id="your_stats">Your Stats</li>
			<li id="user_nav"><%= link_to "Sign Out", signout_path %></li>
		<%else%>
		<li><%= link_to image_tag("https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"), "/auth/twitter" %></li>
		<% end %>
		</ul>
	</div>
</div>

<div class='right-container'>

		<div class="banner">
			<h1>TwitterBURST!</h1>
		</div>

		<div class="notice-banner">
			<% if flash[:notice] %>
				<p class="notice"><%= flash[:notice] %></p>
			<% end %>
			<% if current_user %>
				<p class="welcome-bar"> Welcome, <%= current_user.name %>!</p> 
				<img id="profile-pic" src="<%= current_user.pic%>"/>
			<% end %>
			</div> 

		<div id="leaderboard" style="display: none">
			<ol id="leaders"></ol>
		</div>
		<div id="stats" style="display: none">
			<ul id="my_stats"></ul>
		</div>

		<div class='hashtags'>
			<input type='text' id='first-hashtag' placeholder='Your hashtag!'></input>
			<h3 id="hash2"></h3>
		</div>

		<div class="circle-set">	
			<div class="circle" id="circle-one"></div>
			<div class="circle" id="circle-two"></div>
		</div>

			<div class='tweet-bodies'>
				<div class='tweet-one'>
					<h3 id='first-hashtag-result'></h3>
				</div>
				<div class='tweet-two'>
					<h3 id='second-hashtag-result'></h3>
				</div>
			</div>

			<div class="button-set">
				<h3 id='first-hashtag'></h3>
				<h3 id='first-hashtag-result'></h3>
				<button id="ticker-one">0</button>
				<button id="start-button">Start!</button>
				<button id="reset-button">Reset!</button>
				<button id="ticker-two">0</button>
			</div>
			<div class='footer'></div>
	</div>
</div>


