<div class="banner">
	<h1>TwitterBURST!</h1>
</div>
	<div id="bird"> <img> <%= image_tag 'Twitter_logo_blue.png' %> </img>
	</div>
<div id="bird2"> <img> <%= image_tag 'Twitter_logo_blue.png' %> </img>
</div>

<div class="notice-container">
	<% if flash[:notice] %>
		<div class="notice">
			<%= flash[:notice] %>
		</div>	
	<% end %>

	<% if current_user %>
		<div class="welcome-bar"> 
			Welcome, <%= current_user.name %>! 
		<img id="profile-pic" src="<%= current_user.pic%>"/>
	<% end %>
	</div> 
</div>


<div class="container">
	<div class="nav">
		<ul>
			<li id="leaderboard_link">Leaderboard</li>
			<li id="your_stats">Your Stats</li>
			<li id="user_nav">
				<% if current_user %>
					<%= link_to "Sign Out", signout_path %>
				<%else%>
					<%= link_to image_tag("https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"), "/auth/twitter" %>
				<% end %>
			</li>
		</ul>
	</div>

	<div id="leaderboard" style="display: none">
		<table>
		<tr><th>Name</th><th>Bursts</th></tr>
		<tr><td><% @leaders.each do |leader| %>
		<%= leader.user.name %></td>
		<td><%= leader.win_count %></td></tr>
		<% end %>
		</table>

	</div>
	<div id="stats" style="display: none">
		<table>
		<tr><th>Name: </td><td><%= @user.name %></td></tr>
		<tr><th>Wins: </td><td><%= @wins %></td></tr>
		<tr><th>Losses: </td><td><%= @losses %></td></tr>
		<tr><th>Ties: </td><td><%= @ties %></td></tr>
		</table>
	</div>

	<div class="circle-set clear">
		<div class="circle" id="circle1" name="user1">
			<p class="hash-tag" id="hash1">
			</p>
		</div>

		<div class="circle" id="circle2" name="user2">
			<p class="hash-tag" id="hash2">
			</p>
		</div>

		<section class="buttons" id="start">
			<div class="buttons">
				<button class="ticker1"> <a href="#">Ticker 1</a></button>
				<button id="start-button">Start!</button>
				<button class="ticker2"> <a href="#">Ticker 2</a></button>
			</div>
		</section>
	</div>
</div>




