<!DOCTYPE html>
<html>
<head>
  <title>TwitterBurst</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>

<div id="twitter_sign_in">	
<%= link_to "Sign in With Twitter", "/auth/twitter" %>
</div>

<% yield %>

</body>
</html>



