<!DOCTYPE html>
<html>
<head>
  <title>TwitterBURST!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Sign in Notice -->
	<% if flash[:notice] %>
		<div class="notice">
			<%= flash[:notice] %>
		</div>	
	<% end %>
<!-- Sign In or Welcome Message / Sign Out-->
<div id="user_nav">
	<% if current_user %>
		Welcome, <%= current_user.name %>! 
		<%= link_to "Sign Out", signout_path %>
	<%else%>
		<%= link_to "Sign in With Twitter", "/auth/twitter" %>
	<% end %>
</div>


<% yield %>

</body>
</html>



